body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #a0eec0;
}

/*Nav*/
.main-header {
  overflow: hidden;
  background-color: #86cd82;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  align-items: center;
  list-style-type: none;
}

.topnav {
  overflow: hidden;
  background-color: #86cd82;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  list-style-type: none;
  padding-right: 3rem;
}

.logo {
  display: flex;
  margin-right: auto;
  padding: 0 1rem 2rem 5rem;
}

.icones-menu {
  width: 50px;
  height: 50px;
  border: 10px solid #fbffa5;
  border-radius: 50px;
  background-color: #fbffa5;
}

.icones-menu.active {
  width: 50px;
  height: 50px;
  border: 10px solid #04aa6d;
  border-radius: 50px;
  background-color: #04aa6d;
}


.topnav a {
  float: right;
  color: #fbffa5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-bottom: 40px;
}

.topnav p {
  color: #fbffa5;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #a0eec0;
  color: black;
  border-radius: 30px;
}

.topnav a.active {
  background-color: #04aa6d;
  color: #fbffa5;
  border-radius: 30px;
}
/*end nav*/

.mytosa {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: (1fr);
}


.content-left {
  background-color: hsl(0, 0%, 100%);
  padding: 2rem 0;
  text-align: center;
  color: #666B6A;
  border-radius: 30px;
  grid-column: 2 / 5;
  margin: 3rem 1rem 0 0;
}

.titleIdex {
  text-align: center;
  color: #666b6a;
  font-size: 30px;
}

.content-center {
  background-color: hsl(0, 0%, 100%);
  padding: 2rem 0;
  border-radius: 30px;
  text-align: center;
  color: #666B6A;
  border-radius: 30px;
  grid-column: 5 / 8;
  margin: 3rem 1rem 0 0;
}

.content-right {
  background-color: hsl(0, 0%, 100%);
  padding: 2rem 0;
  text-align: center;
  color: #666B6A;
  border-radius: 30px;
  grid-column: 8 / 11;
  margin: 3rem 0 0;
}

.center{
 display: flex;
 text-align: left;
}

.center > ul {
  align-items: left;
  margin: 0 auto;
}


/*forms*/
fieldset {
  border: none;
}

legend {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 20px 0 0;
}

input {
  color: #fff;
  background-color: #cccccc;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  border: 0px solid #90c679;
  border: 0px solid #90c679;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-right: 10px;
  outline: none;
  border-color: #90c679;
  box-shadow: 0 0 2px #90c679;
}

.buttonAdd {
  margin-top: 5px;
  padding: 0.7rem 2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
  text-shadow: 0 1px 0 rgba(122, 122, 122, 0.85);
  transition: background 500ms ease-in-out 0s;
  -webkit-transition: background 500ms ease-in-out 0s;
  -moz-transition: background 500ms ease-in-out 0s;
  -o-transition: background 500ms ease-in-out 0s;
  -ms-transition: background 500ms ease-in-out 0s;
  background-color: #90c679;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.buttonClear {
  margin-top: 5px;
  padding: 0.7rem 2.2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
  text-shadow: 0 1px 0 rgba(122, 122, 122, 0.85);
  transition: background 500ms ease-in-out 0s;
  -webkit-transition: background 500ms ease-in-out 0s;
  -moz-transition: background 500ms ease-in-out 0s;
  -o-transition: background 500ms ease-in-out 0s;
  -ms-transition: background 500ms ease-in-out 0s;
  background-color: #90c679;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.buttonAdd:hover {
  background-color: #111;
}

.buttonClear:hover {
  background-color: #111;
}

/*end forms*/


/*share icons*/

.social-icons {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: right;
}

.social-icons a {
  color: #666b6a;
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
  color: #04aa6d;
  transform: scale(1.2);
}